<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>

<form action="http://localhost:5000/show_items" method = "post">
<table>
        <tr><td>Item Name</td>
        <td><input type ="text" name ="Item Name"></td></tr>

        <tr><td>Item ID</td>
        <td><input type ="text" name ="Item ID"></td></tr>

        <tr><td>Quantity</td>
        <td><input type ="text" name ="Quantity"></td></tr>

        <tr><td>Price</td>
        <td><input type ="text" name ="Price"></td></tr>

        <tr><td><input type = "submit"></td></tr>
    </table>
</form>
</body>
</html>
